# 1. Virtual Environment
/gunshotvenv/

# 2. Datasets & Extracted Features
/gunshot-audio-dataset/
/processed-audio-48k/
/features/

# 3. Model Weights & Pipelines
# -------------------------------------------------------------------
*.pth

best of the best.pth


# Pickle files (generated, not source)
*.pkl
*.joblib



# Generated feature files
**/features/
**/processed-audio-48k/